<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About Me</h1>
Full name: Anthony Arcuri
<br>
ID: M14885524
<br>
I am a fourth year cybersecurity and software application development student at the University of Cincinnati. I enjoy playing table-top games and painting miniatures for Dungeons and Dragons.
<br>
You can contact me at <a href="mailto=arcuriaj@mail.uc.edu">arcuriaj@mail.uc.edu</a> or my github profile <a href="https://github.com/arcuriaj">arcuriaj</a>
</body>
</html>